html
  head
    title index.slim
    link rel="stylesheet" href="../css/application.css" type="text/css"
    link rel="stylesheet" href="../css/style.css" type="text/css"
  body
    .container
      .header
        h1 Netflix
        - if false
          div true
        - elsif true
          div true
        - else
          div false
      .footer
        span bbb
